.heading {
    display: flex;
}

.heading p {
    font-size: 2rem;
    margin: 0 1rem;
    font-weight: bold;
}

.containerCryptoCoins{
    background-color: aqua;
    outline: 4px solid black;
}

.containerFiat{
    display: flex;
    color: wheat;
    justify-content: center;
    padding: 2px;
    height: 3rem;
    font-size: 2rem;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}