html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2{
  color: white;
  font-size: 2.5rem;
}